[core]
	excludesfile = ~/.gitignore-global
	editor = vim
[color]
	ui = true
[user]
	name = TomitaMasakuni
	email = TomitaMasakuni@next-group.jp
[log]
	date = iso
[alias]
	st = status
	sh = show
	cm = commit
	co = checkout
	m = checkout master
	df = diff
	l = log --decorate --abbrev-commit
	ll = log --name-only --decorate
